name: Bundle Analyzer
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Size Change
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          cwd: ./backend/dist/public
          pattern: '**/*.{js,css}'
          strip-hash: "-[^.]+(?=\\.)"
